.app.dark {
    --bg-color: #0a0a50;
    --inverted-bg-color: #c3c3e8;
    --primary-color: #29ce29;
    --secondary-color: #7fff7f;
    --inverted-primary-color: #033683;
    --inverted-secondary-color: #096eb6;
}
