.app.light {
  --bg-color: #c3c3e8;
  --inverted-bg-color: #0a0a50;

  --primary-color: #0659d2;
  --secondary-color: #096eb6;
  --inverted-primary-color: #02be02;
  --inverted-secondary-color: #7fff7f;

}